body {
  font-family: "Montserrat";
  text-align: center;
}

.Ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/*Titles section*/
.big-heading {
  padding-bottom: 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.margins {
  margin-left: auto !important;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  height: auto;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */
.navbar {
  padding: 20px 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 100;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.title-image {
  right: 30%;
  transform: rotate(25deg);
  position: absolute;
  width: 60%;
  padding-top: 10px;
}

/*Features Section*/
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c88;
}

#features {
  padding: 7% 14%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature_title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

/* Testimonial Section*/
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/*Pricing section*/
#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5rem;
}

@media (max-width: 990px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    padding-top: 40px;
  }
}

/*CTA Section*/
#cta {
  text-align: center;
  background-color: #ff4c68;
  padding: 100px 0;
}

.cta-title {
  padding: 0 120px 15px;
  color: #fff;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.button-margins {
  margin: 0 15px;
}

/*Footer section*/
#footer {
  text-align: center;
  background-color: #fff;
  padding: 7% 15%;
}

.icon-padding {
  padding: 0 10px 0;
}

.icons-footer {
  padding-bottom: 15px;
}
